.university {
    margin-bottom: 10px;

    .university-name {
            margin: 0 !important;
        }
    
    .degree-and-major {
        margin: 0 !important;
    }

    .date {
        margin: 0 !important;
    }

    .location {
        margin-bottom: 5px !important;
    }
}