.baisc-info {
    padding: 60px 30px 30px 30px;
    background-color: #172554;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white !important;

    .name {
        margin: 0;
        color: white;
    }
    .job-title {
        margin: 0 !important;
        color: white;
    }
    span {
        color: white;
    }
}
@media print {
    .baisc-info {
      border-radius: 0px !important;
    }
}