.form-container {
    padding: 15px;
    margin-bottom: 30px;
    border: 1px solid #e5e7eb;
    border-radius: 5px;

    background-color: white;
}

.form {
    .self-summary {
        padding: 15px;
        height: 200px !important;
        resize: none !important;
    }
}
