.company {
    margin-bottom: 10px;

    .job-title {
        margin: 0 !important;
    }
    .company-name {
        margin: 0 !important;
    }
    .date-and-location {
        margin-bottom: 5px !important;
    }
}


