.builder {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .sidebar-container {
    grid-column: 1;
  }

  .preview-container {
    grid-column: 2 / 4;
    display: flex;
    justify-content: center;
    height: 100vh;
    padding: 40px 0;
    overflow-y: auto;
  }
}

@media print {
  .builder {
    display: block;

    .sidebar-container {
      display: none !important;
    }
    .preview-container {
      display: block !important;
      flex: 1 1 100% !important;
      max-width: 100% !important;
      padding: 0 !important;
      overflow-x: hidden !important;
    }
  }
  
}

@media print {
  .preview-container {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}

@page {
  size: A4 !important;
  margin: 0 !important;
}