.sidebar {
    height: 100vh;
    padding: 30px;

    overflow-y: auto;
    scrollbar-width: none;
    background-color: #f9fafb;

    .title {
        text-align: center;
    }

    .download-button {
        height: 50px;
        width: 100%;
        border-radius: 10px;
    }

    .editor-section-button {
        position: relative;
        height: 50px;
        width: 100%;
        border-radius: 10px;
        margin-bottom: 20px;
        border: 1px solid #e5e7eb;

        text-align: center;
        line-height: 50px;

        .editor-section-icon {
            position: absolute;
            right: 20px;
        }
    }
}

@media print {
    .sidebar {
        display: none;
    }
}