.sidebar {
    height: 100vh;
    padding: 30px;

    overflow-y: auto;
    background-color: #f9fafb;

    .header {
        margin-bottom: 20px;

        .row {
            margin-bottom: 10px;
        }

        .col {
            text-align: center;
        }

        .title {
            font-size: 28px;
            font-weight: bold;
            color: black;
        }

        .language-selector {
            width: 100px;
        }
    }

    .section-editor-link-buton {
        position: relative;
        height: 50px;
        width: 100%;
        margin-bottom: 20px;
        border: 1px solid #e5e7eb;

        .section-editor-link-icon {
            position: absolute;
            right: 20px;
        }
    }
}

@media print {
    .sidebar {
        display: none;
    }
}