.section {
    padding: 10px;

    .title {
        border-bottom: 2px solid black;
        .title-text {
            margin-bottom: 5px;
        }
    }

    .content {
        padding-top: 10px;
    }
}
